
{% extends 'base.html' %}
{% load static %}
{% block content %}

      <title>{% block title %}About{% endblock %}</title>
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background mx-lg-1-6 mx-xl-2-5 mx-xxl-2-9 left-overlay-dark" data-overlay-dark="8" data-background="{% static 'img/banner/page-title.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="position-relative">
                            <h1>About Us</h1>
                        </div>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <!-- ABOUT
        ================================================== -->
        <section class="overflow-visible">
            <div class="container position-relative z-index-3">
                <div class="row align-items-center about-style-03">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-lg-1-9">
                            <div class="section-title mb-1-9">
                                <span class="sm-title">About Us</span>
                                <h2 class="mb-0 h1">We’re Delivering The Best Customer Experience</h2>
                            </div>
                            <div class="mb-1-9">
                                <div class="d-flex about-text mb-1-9">
                                    <div class="flex-shrink-0">
                                        <i class="fa-brands fa-gitter"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5">Our Mission</h4>
                                        <p class="mb-0">Our Mission is to be the industry's top-ratede provider issuer enterprise targeting satisfying the most to our clients.</p>
                                    </div>
                                </div>
                                <div class="d-flex about-text">
                                    <div class="flex-shrink-0">
                                        <i class="fa-brands fa-unity"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5">Our Vision</h4>
                                        <p class="mb-0">Our Vision is to be a top Web Design company in the IT sector and progress in our current position in the market.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-lg-2-9 position-relative text-center text-sm-start">
                            <img src="{% static 'img/content/about7.jpg' %}" alt="...">
                            <div class="about-img d-none d-sm-block">
                                <img src="{% static 'img/content/about6.jpg' %}" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <img src="img/bg/bg-06.png" class="position-absolute left bottom-5 opacity4" alt="..."> -->
        </section>

        

        <!-- PROCESS
        ================================================== -->
        <section class="pt-0">
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeIn" data-wow-delay="200ms">
                    <span class="sm-title">Work Process</span>
                    <h2 class="mb-0 h1">Our Working Process</h2>
                </div>
                <div class="main-process text-center">
                    <div class="line-shape wow fadeIn" data-wow-delay="400ms">
                        <img src="{% static 'img/content/process-line.png' %}" alt="...">
                    </div>
                    <div class="row mt-n6">
                        <div class="process-style-01 col-lg-4 col-md-6 mt-6 wow fadeInUp" data-wow-delay="600ms">
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'img/content/process-01.jpg' %}" alt="...">
                                    <span>01</span>
                                </div>
                                <h5>Design</h5>
                                <p class="w-lg-80 mx-auto mb-0">We focus on the best practices for it solutions and services.</p>
                            </div>
                        </div>

                        <div class="process-style-01 col-lg-4 col-md-6 mt-6 wow fadeInUp" data-wow-delay="800ms">
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'img/content/process-02.jpg' %}" alt="...">
                                    <span>02</span>
                                </div>
                                <h5>Testing</h5>
                                <p class="w-lg-80 mx-auto mb-0">We focus on the best practices for it solutions and services.</p>
                            </div>
                        </div>

                        <div class="process-style-01 col-lg-4 col-md-6 mt-6 wow fadeInUp" data-wow-delay="1000ms">
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'img/content/process-03.jpg' %}" alt="...">
                                    <span>03</span>
                                </div>
                                <h5>Go-Live</h5>
                                <p class="w-lg-80 mx-auto mb-0">We focus on the best practices for it solutions and services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       

        <!-- COUNTER
        ================================================== -->
        {% comment %} <section class="pt-0 overflow-visible bg-transparent">
            <div class="container">
                <div class="bg-white mt-n7 p-6 primary-shadow z-index-9 position-relative">
                    <div class="row text-center mt-n1-9">
                        <div class="col-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                            <div class="counter-style2">
                                <h3 class="display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">15</span>k</h3>
                                <span class="fw-bold text-uppercase">Customers</span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                            <div class="counter-style2">
                                <h3 class="display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">78</span>+</h3>
                                <span class="fw-bold text-uppercase">Branches</span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                            <div class="counter-style2">
                                <h3 class="display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">3</span>k</h3>
                                <span class="fw-bold text-uppercase">Employees</span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="800ms">
                            <div>
                                <h3 class="display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">8</span>+</h3>
                                <span class="fw-bold text-uppercase">Countries</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}

       

       {% endblock %}