{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>{% block title %}Careers{% endblock %}</title>

    <!-- FORM ================================================== -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="position-relative elements-block">
                        <div class="inner-title">
                            <h2>Careers Form</h2>
                        </div>

                        <div class="primary-shadow p-1-9 p-md-5">
                            {% if messages %}
                                <div class="alert alert-success" role="alert">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form action="{% url 'careers_form' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                    <div class="row">
                                    <!-- Begin Text input element -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Your Name <span class="required">*</span></label>
                                            <input class="form-control" id="name" type="text" name="name" placeholder="name" />

                                            <label for="email">Your Email <span class="required">*</span></label>
                                            <input class="form-control" id="email" type="email" name="email" placeholder="email" />
                                               
                                            <label for="gender">Gender <span class="required">*</span></label>
                                            <select class="form-control" id="gender" name="gender">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                            </select>
                                            

                                            <label for="phone">Contact Number</label>
                                            <input class="form-control" id="phone" type="text" name="phone" placeholder="Phone no" />

                                            <label for="address">Address</label>
                                            <input class="form-control" id="address" type="text" name="address" placeholder="Address" />

                                            <label for="date">Date</label>
                                            <input class="form-control" id="date" type="date" name="date" placeholder="Date" value="{{ form.date | date:'Y-m-d' }}" />

                                            
                                            <label for="resume">Resume <span class="required">*</span></label>
                                            <input class="form-control" id="resume" type="file" name="resume" placeholder="Resume" />

                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="">
                                            <button class="btn-style1 border-0" type="submit"><span>Submit</span></button>
                                        </div>
                                    </div>
                                    <!-- End Submit button -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
