<!-- templates/base.html -->
{% load static %}
<!-- Add your CSS styles or link to external stylesheets here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Website Design Templates">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="IT Solutions and Services HTML Template">
    <meta name="description" content="Solutic - IT Solutions and Services HTML Template">

    <!-- title  -->
    <title>{% block title %}{% endblock %}</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static  'img/logos/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static  'img/logos/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static  'img/logos/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static  'img/logos/apple-touch-icon-114x114.png' %}">

    <!-- plugins -->
    <link rel="stylesheet" href="{% static  'css/plugins.css' %}">

    <!-- search css -->
    <link rel="stylesheet" href="{% static  'search/search.css' %}">

    <!-- quform css -->
    <link rel="stylesheet" href="{% static  'quform/css/base.css' %}">

    <!-- theme core css -->
    <link href="{% static  'css/styles.css' %}" rel="stylesheet">
    <link href="{% static  'css/refund.css' %}" rel="stylesheet">
    <link href="{% static  'css/terms.css' %}" rel="stylesheet">
    <link href="{% static  'css/privacy.css' %}" rel="stylesheet">

</head>

<body>
    <header>
        <!-- Your header content goes here -->
       
        <nav>
            <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header class="header-style1 menu_area-light">

            <div class="navbar-default border-bottom border-color-light-white">

                <!-- start top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9" >
                        <form class="search-form" action="" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9" style="background-color: white;">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="/" class="navbar-brand">
                                            <img id="logo" src="{{details.logo.url}}" alt="logo">
                                          </a>
                                          <!-- end logo -->
                                          
                                    </div>

                                    <button class="navbar-toggler bg-primary"  onclick="toggleNav()"></button>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none; color:black;">
                                        <li><a href="/" style="color: #18455d;">Home</a> </li>
                                            
                                        <li><a href="{% url 'about' %}" style="color: #18455d;">About</a></li>
                                        
                                        
                                        <li>
                                            <a href="#" style="color: #18455d;">Service</a>
                                            <ul>
                                                {% for i in service %}
                                                <li><a href="{% url 'service_detail' i.id %}">{{i.name}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        
                                        <li><a href="{% url 'careers_form' %}" style="color: #18455d;">Careers</a></li> 
                                        <!-- <li><a href="#">Contact</a></li>    -->
                                     
                                        
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                        <ul>
                                            <!-- <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li> -->
                                            <li class="d-none d-xl-inline-block"><a href="{% url 'contact' %}" class="btn-style1 medium"><span>Contact Us</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        </nav>
    </header>

    

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Your footer content goes here -->
        <!-- FOOTER
        ================================================== -->
        <footer class="position-relative pt-0">
            <div class="bg-primary py-1-9 mb-6 mb-xxl-10">
                <div class="container">
                    <div class="row mt-n1-9 align-items-center">
                        <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="{% static  'img/icons/07.png' %}" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="mb-0 text-white">Contact Us</p>
                                    <!-- <h3 class="mb-0 h5 text-white">+91 9030908181</h3> -->
                                    <h3 class="mb-0 h5 text-white">{{details.phone}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg
                        -4 mt-1-9 text-start text-lg-center wow fadeIn" data-wow-delay="400ms">
                            <div class="footer-logo">
                                <a href="/"><img src="{{details.logo.url}}" alt="..." width="100px"></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                            <div class="d-flex align-items-center text-lg-end">
                                <div class="flex-grow-1 ms-3 ms-lg-0 me-lg-3 order-2 order-lg-1">
                                    <p class="mb-0 text-white">Mail Us</p>
                                    <h3 class="mb-0 h5 text-white">{{details.email}}</h3>
                                </div>
                                <div class="flex-shrink-0 order-1 order-lg-2">
                                    <img src="{% static  'img/icons/08.png' %}" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="container">
                <div class="row mt-n5 pb-6 pb-xxl-10">
                    <div class="col-md-6 col-lg-5 mt-5 wow fadeIn" data-wow-delay="200ms">
                        <h3 class="text-white h5 mb-1-9">About Company</h3>
                        
                        <ul class="social-icon-style1">
                            <li>
                                <a href="{{details.facebook}}"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="{{details.twitter}}"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="{{details.youtube}}"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="{{details.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                        <ul class="company-links" >
                            <li><a href="{% url 'refund_policy' %}">Refund Policy</a></li>
                            <li><a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a></li>
                            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-5 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-0">
                            <h3 class="text-white h5 mb-1-9">Contacts</h3>
                            <ul class="footer-link mb-0 list-unstyled">
                                <li class="text-white mb-3">
                                    <strong>Address:</strong> <span class="opacity8">{{details.address}}</span>
                                </li>
                                <li class="text-white mb-3">
                                    <strong>Email:</strong> <span class="opacity8">{{details.email}}</span>
                                </li>
                                <li class="text-white">
                                    <strong>Phone:</strong> <span class="opacity8">{{details.phone}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-5 offset-lg-1 wow fadeIn" data-wow-delay="600ms">
                        <div class="ps-xl-4">
                            <h3 class="text-white h5 mb-1-9">Connect us</h3>
                            <p class="text-white opacity8 mb-3">Follow us on our LinkedIn</p>
                            <div class="connect-button">
                                <a href="{{details.linkedin}}" target="_blank" class="btn btn-white text-white m-0">
                                    <i class="fab fa-linkedin"></i> Connect on LinkedIn
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4 border-top border-color-light-white">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 text-center wow fadeIn" data-wow-delay="100ms">
                            <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> {{details.name}} <a href="#!" class="text-primary text-white-hover"> software development company</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block "><a href="{{details.whatsapp}}" target="_blank"><i class="fab fa-whatsapp"></i>
        <span>WhatsApp</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="mailto: {{details.email}}" target="_blank"><i class="far fa-envelope"></i><span>Message Us</span></a></div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>


    </footer>

    <!-- Add your JavaScript scripts or link to external scripts here -->
     <!-- all js include start -->

    <!-- jQuery -->
    <script src="{% static  'js/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static  'js/popper.min.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static  'js/bootstrap.min.js' %}"></script>

    <!-- jquery -->
    <script src="{% static  'js/core.min.js' %}"></script>

    <!-- Search -->
    <script src="{% static  'search/search.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static  'js/main.js' %}"></script>

    <!-- form plugins js -->
    <script src="{% static  'quform/js/plugins.js' %}"></script>

    <!-- form scripts js -->
    <script src="{% static  'quform/js/scripts.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <script>
        function toggleNav() {
            const nav = document.getElementById('nav');
            if (nav.style.display === 'none' || nav.style.display === '') {
                nav.style.display = 'block';
            } else {
                nav.style.display = 'none';
            }
        }
        </script>
    <!-- all js include end -->
</body>
</html>
